include mixins.jade
doctype html
html
	head
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='author', content='Justin')
		link(rel='stylesheet', href='../css/main.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block head
			+meta("Untitled", "no description")
	body
		header
			include snippets/header.jade
		block content
		footer
			include snippets/footer.jade