mixin meta(title, description)
	title #{title}
	meta(name='description', content='#{description}')
mixin jquery(version)
	script(src='http://code.jquery.com/jquery-#{version}.min.js')
mixin highlight-current-nav-link
	script.
		$(document).ready(function(){ 
			var url = window.location.href;
			$('nav#primary a').filter(function() {
			    return this.href == url;
			}).addClass('current');
		})